@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.container {
  background-color: #f3f7f7;
  min-height: 100vh;
  padding: 1rem;
  min-width: 100vw;
  width: max-content;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

table {

  background-color: #fff;
  border-radius: 3px;
  border-spacing: 0;
  margin-bottom: 0.5rem;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);


  td {
    margin: 0;
    padding: 0.7rem;
    border-top: 1px solid rgb(231, 238, 239);

  }


  th {
    margin: 0;
    padding: 0.7rem;
    color: #738f93;
    position: sticky;
    top: 0;

  }
}

.action-buttons {
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  border-right: 0;

  button:first-child {
    margin-right: 0.5rem;
  }
}

.page-buttons {
  display: flex;
  justify-content: space-between;
}

.page-buttons__prev {
  margin-right: 0.5rem;
}

.page-buttons__numbers {
  display: flex;
}

.page-buttons__numbers__number {
  margin-right: 0.25rem;

  :last-child {
    margin-right: 0;
  }
}

.page-buttons__next {
  margin-left: 0.5rem;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;

  :first-child {
    margin-right: 0.5rem;
  }
}

.edit-modal__inputs {

  .edit-modal__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .edit-modal__input {
    margin-bottom: 0.5rem;
  }

  .edit-modal__label {
    margin-right: 0.5rem;
  }
}

.modal__title {
  text-align: center;
  color: #738f93;
}

.delete-modal__user {
  text-align: center;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

button:hover,
button:disabled {
  background-color: #2222221a;
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

input {
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  transition: all 0.1s ease 0s;
}

@media screen and (max-width: 650px) {
  * {
    font-size: 0.9rem;
  }
  table{
    th,
    td{
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 590px) {
  * {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 0.7rem;
  }

}

